In [1]:
!pip install oracledb

Defaulting to user installation because normal site-packages is not writeable
Collecting oracledb
  Downloading oracledb-1.3.0-cp310-cp310-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 4.9 MB/s eta 0:00:00
Requirement already satisfied: cryptography>=3.2.1 in c:\programdata\anaconda3\lib\site-packages (from oracledb) (39.0.1)
Requirement already satisfied: cffi>=1.12 in c:\users\smhrd\appdata\roaming\python\python310\site-packages (from cryptography>=3.2.1->oracledb) (1.15.1)
Requirement already satisfied: pycparser in c:\users\smhrd\appdata\roaming\python\python310\site-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.21)
Installing collected packages: oracledb
Successfully installed oracledb-1.3.0

In [12]:
import oracledb

#DB연결
con = oracledb.connect(user="system", password="oracle", dsn="localhost:1521/XEPDB1")
#연결된 DB 지시자 생성
cursor = con.cursor()

print("데이터베이스 연결 성공~!!!")

# 1. emp 테이블의 내용을 cursor가 임시 보관
cursor.execute("select * from emp")

# 2. cursor의 내용을 out_data에 저장
out_data = cursor.fetchall()

# 3. out_data의 내용을 화면출력
for record in out_data :
    print(record)
    
# 4. 2개의 record를 dept 테이블에 삽입 후 승인
# cursor.execute("insert into dept values(50, 'Developer', 'LA')")   
# cursor.execute("insert into dept values(60, 'Developer', 'ATL')")
# cursor.execute("commit")

# 5. emp테이블의 deptno와  dept의 deptno가 동일한 레코드 들에 대해
# inner Join(등가조인)을 통해 empno, ename, mgr, deptno, dname을 출력.
# 단, deptno는 dept 테이블의 필드를 가져오기.

print("inner join을 수행한 결과 출력")
cursor.execute("select e.empno, e.ename, e.mgr, d.deptno, d.dname from emp e, dept d where e.deptno = d.deptno")
out_data = cursor.fetchall()

for record in out_data :
    print(record)

print()

# 6. dept 테이블 내용을 cursor에 가져와서 출력
cursor.execute("select * from dept")
out_data = cursor.fetchall()
for record in out_data :
    print(record)  
    
# 7. dept 테이블에서 DNAME = Developer 인 데이터를 삭제한 후 화면에 출력하는 명령    
# cursor.execute("DELETE FROM dept where dname = 'Developer'")  
# cursor.execute("commit")
# cursor.execute("select * from dept")
# out_data = cursor.fetchall()
# for record in out_data :
# print(record)

데이터베이스 연결 성공~!!!
(7839, 'KING', 'PRESIDENT', None, datetime.datetime(1996, 11, 17, 0, 0), 5000.0, None, 10)
(7698, 'BLAKE', 'MANAGER', 7839, datetime.datetime(1991, 1, 5, 0, 0), 2850.0, None, 30)
(7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1999, 9, 6, 0, 0), 2450.0, None, 10)
(7566, 'JONES', 'MANAGER', 7839, datetime.datetime(2001, 2, 4, 0, 0), 2975.0, None, 20)
(7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(2003, 6, 17, 0, 0), 3000.0, None, 20)
(7902, 'FORD', 'ANALYST', 7566, datetime.datetime(1981, 3, 12, 0, 0), 3000.0, None, 20)
(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(2007, 12, 1, 0, 0), 800.0, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30)
(7844, 'TURNER', 'SALESMAN', 7698, datetime.datetime(1981, 8, 9, 0, 0), 1500.0, 0.0, 30)
(7876, 'ADAMS', 'CLERK', 7788, datetime.datetime(2087, 5, 23, 0, 0), 1100.0, None, 20)
(7900, 'JAMES', 'CLERK', 7698, datetime.datetime(1981, 3, 12, 0, 0), 950.0, None, 30)
(7934, 'MILLER', 'CLERK', 7782, datetime.datetime(2003, 1, 23, 0, 0), 1300.0, None, 10)
inner join을 수행한 결과 출력
(7839, 'KING', None, 10, 'ACCOUNTING')
(7698, 'BLAKE', 7839, 30, 'SALES')
(7782, 'CLARK', 7839, 10, 'ACCOUNTING')
(7566, 'JONES', 7839, 20, 'RESEARCH')
(7788, 'SCOTT', 7566, 20, 'RESEARCH')
(7902, 'FORD', 7566, 20, 'RESEARCH')
(7369, 'SMITH', 7902, 20, 'RESEARCH')
(7499, 'ALLEN', 7698, 30, 'SALES')
(7521, 'WARD', 7698, 30, 'SALES')
(7654, 'MARTIN', 7698, 30, 'SALES')
(7844, 'TURNER', 7698, 30, 'SALES')
(7876, 'ADAMS', 7788, 20, 'RESEARCH')
(7900, 'JAMES', 7698, 30, 'SALES')
(7934, 'MILLER', 7782, 10, 'ACCOUNTING')

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')
(50, 'Developer', 'LA')
(60, 'Developer', 'ATL')

In [15]:
#cursor.execute("create table dept_ddl as select * from dept")
#cursor.execute("commit")  
cursor.execute("select * from dept_ddl")  
out_data = cursor.fetchall()
for record in out_data : 
    print(record)

con.close()

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')
(50, 'Developer', 'LA')
(60, 'Developer', 'ATL')