In [1]:
num = 27
num += 3
num

30

In [2]:
num  = 27
num += 3
num += 3
num += 3
num

36

In [3]:
num = 100
num /= 2
num /= 2
num

25.0

In [4]:
a = 3
b = 7
print(a > b)
print(a <= b)
print(a == b)
print(a != b)

False
True
False
True

In [99]:
import random

a = random.randint(1, 10)
b = random.randint(1, 10)
print("a:{}, b:{}".format(a,b))

print(a < b)
print(a > b)
print(a == b)
print(a != b)

a:8, b:4
False
True
False
True

In [100]:
a = 3
b = 7
not a < b

False

In [101]:
a = 3
b = 7
not a == b

True

In [102]:
3 > 5 and 10 == 20

False

In [103]:
3 > 5 and 10 < 20

False

In [104]:
3 < 5 and 10 < 20

True

In [ ]:
3 > 5 or 10 == 20

In [ ]:
3 > 5 or 10 < 20

In [ ]:
3 < 5 or 10 < 20

In [105]:
score = 80
"합격" if score >= 60 else "불합격"

'합격'

In [106]:
score = 50
"합격" if score >= 60 else "불합격"

'불합격'

In [110]:
a = int(input('정수입력 >> '))
b = int(input('정수입력 >> '))

print('a:', a) if a > b else print('b:', b)

정수입력 >> 3
정수입력 >> 10
b: 10

In [115]:
a = int(input('첫 번째 정수 입력 >> '))
b = int(input('두 번째 정수 입력 >> '))

print('두 수의 차 :', a - b) if a > b else print('두 수의 차 :', b - a)

첫 번째 정수 입력 >> 5
두 번째 정수 입력 >> 10
두 수의 차 : 5

In [117]:
a = int(input('정수 입력 >> '))

print(f'{a}는(은) 홀수입니다.') if a % 2 == 1 else print(f'{a}는(은) 짝수입니다.')

정수 입력 >> 33
33는(은) 홀수입니다.

In [118]:
if True:
    print("실행문장 실행")
print("if문 밖에 있는 실행문장")

실행문장 실행
if문 밖에 있는 실행문장

In [119]:
if False:
    print("실행문장 실행")
print("if문 밖에 있는 실행문장")

if문 밖에 있는 실행문장

In [121]:
money = 11000
if money >= 10000:
    print('택시를 탄다.')

택시를 탄다.

In [122]:
money = 9000
if money >= 10000:
    print('택시를 탄다.')

In [124]:
if True:
    print("실행문장1")
else:
    print("실행문장2")

실행문장1

In [123]:
if True:
    print("실행문장2")
else:
    print("실행문장1")

실행문장2

In [126]:
money = 11000
if money >= 10000:
    print("택시를 탄다")
else:
    print("버스를 탄다")

택시를 탄다

In [129]:
num = int(input('정수 입력 >> '))
if num % 3 == 0 and num % 5 == 0:
    print('3과 5의 배수입니다.')
else:
    print('3과 5의 배수가 아닙니다.')

정수 입력 >> 15
3과 5의 배수입니다.

In [136]:
code = input("주민번호 뒷자리 입력 >> ")
if code[0] == '2' or code[0] == '4':
    print('당신은 여자 입니다 ^^*')
else:
    print('당신은 남자 입니다 ^^*')

주민번호 뒷자리 입력 >> 12165989
당신은 남자 입니다 ^^*

In [143]:
name = input('이름 입력 >> ')
age = int(input('나이 입력 >> '))
hc = input('카드 소지 여부(소지, 미소지) >> ')
fee = 35000
if age >= 19:
    if hc == '소지':
        fee *= 0.7
else:
    fee *= 0.5
    if hc == '소지':
        fee *= 0.9

print(f'성우님은 입장료 {int(fee)}원에 예약되셨습니다.')

이름 입력 >> 성우
나이 입력 >> 18
카드 소지 여부(소지, 미소지) >> 소지
성우님은 입장료 15750원에 예약되셨습니다.

In [159]:
countOfMask = int(input("마스크 개수 입력"))
eight = 0
five = 0
if countOfMask >= 8:
    eight = countOfMask // 8
    if countOfMask % 8 > 5:
        five = 2
    elif countOfMask % 8 <5 and countOfMask != 0:
        five = 1
    else:
        five = 0
else:
    if countOfMask > 5:
        five = 2
    elif countOfMask <= 5 and countOfMask != 0:
        five = 1
    else:
        five = 0
print(f'8개들이 포장지 개수 : {eight}')
print(f'5개들이 포장지 개수 : {five}')

마스크 개수 입력88
8개들이 포장지 개수 : 11
5개들이 포장지 개수 : 1

In [ ]:
countOfMask = int(input("마스크 개수 입력"))
eight = 0
five = 0

if countOfMask < 5:
    eight = 0
    five = countOfMask % 5
else:
    if countOfMask > 8:
        eight = countOfMask // 8
        if countOfMask % 8 > 5:
            five = 2
        else:
            five = 1
    else:
        eight = 0
        if countOfMask > 5:
            five = 2
        else:
            five = 1
print(f'8개들이 포장지 개수 : {eight}')
print(f'5개들이 포장지 개수 : {five}')

In [148]:
if True:
    print("실행문장1")
elif True:
    print("실행문장2")

실행문장1

In [ ]:
if False:
    print("실행문장1")
elif True:
    print("실행문장2")

In [149]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))

if num1 > num2:
    print("첫 번째 정수가 더 큽니다.")
elif num1 < num2:
    print("두 번째 정수가 더 큽니다.")
else:
    print("두 수가 똑같습니다.")

첫 번째 정수 입력 >> 7
두 번째 정수 입력 >> 7
두 수가 똑같습니다.

In [153]:
score = int(input("점수 입력 >> "))
grade = 'F'
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
print(f'{score}점은 {grade}학점 입니다.')

점수 입력 >> 66
66점은 D학점 입니다.

In [168]:
num1 = int(input("x값을 입력하세요 : "))
num2 = int(input("y값을 입력하세요 : "))

Quadrant = 0
if num1 < 0:
    if num2 < 0:
        Quadrant = 3
    else:
        Quadrant = 2
else:
    if num2 < 0:
        Quadrant = 4
    else:
        Quadrant = 1
        
print(f'좌표({num1}, {num2})는 {Quadrant}사분면 입니다.')

x값을 입력하세요 : 12
y값을 입력하세요 : -5
좌표(12, -5)는 4사분면 입니다.

In [175]:
age = int(input('나이 입력 >> '))
fee = 1500
if age < 5:
    fee *= 0.5
elif age < 20:
    fee *= 0.75
elif age >= 65:
    fee *= 0.25
print(f'요금은 {int(fee)}원 입니다.')

나이 입력 >> 67
요금은 375원 입니다.

In [236]:
print('=' * 39)    #
print('=' * 13, end='')#
print('-' * 4, end='')
print('자판기', end='')
print('-' * 4, end='')
print('=' * 13)#
print('=' * 39)#
print('=' * 2, end='')#
print('1.콜라', end='')
print('=' * 2, end='')
print('2.사이다', end='')
print('=' * 2, end='')
print('3.물', end='')
print('=' * 7, end='')
print('insert', end='')
print('=' * 3)#
print('=' * 30,end = '')
print('-' * 6,end = '')
print('=' * 3)
print('=' * 2, end='')#
print(' 600 ', end='')
print('=' * 2, end='')
print(' 800 ', end='')
print('=' * 2, end='')
print(' 1000 ', end='')
print('=' * 7, end='')
print(' 000원 ', end='')
print('=' * 3)#
print('=' * 30,end = '')
print('-' * 6,end = '')
print('=' * 3)
print('=' * 39)    #
print('=' * 2, end='')#
print('+' * 35,end='')
print('=' * 2)
print('=' * 2, end='')#
print('+' * 35,end='')
print('=' * 2)
print('=' * 2, end='')#
print('+' * 35,end='')
print('=' * 2)
print('=' * 2, end='')#
print('+' * 13,end='')
print(' ' * 9,end='')
print('+' * 13,end='')
print('=' * 2)
print('=' * 2, end='')
print('+' * 13,end='')
print(' ' * 2,end='')
print('SMHRD', end='')
print(' ' * 2,end='')
print('+' * 13,end='')
print('=' * 2)
print('=' * 2, end='')#
print('+' * 13,end='')
print(' ' * 9,end='')
print('+' * 13,end='')
print('=' * 2)
print('=' * 2, end='')#
print('+' * 35,end='')
print('=' * 2)
print('=' * 2, end='')#
print('+' * 35,end='')
print('=' * 2)
print('=' * 39)    #
print('=' * 39)    #
print(' '* 2,end ='')
print('='*3, end ='')
print(' '* 28,end ='')
print('='*3, end ='')
print(' '* 2)
print(' '* 2,end ='')
print('='*3, end ='')
print(' '* 28,end ='')
print('='*3, end ='')
print(' '* 2)
print()
print()
    
coin = int(input('insert coin >>'))

chun = 0
obaek = 0
baek = 0

if coin < 600:
    print('좀 더 넣어봐')
else:
    select = int(input('메뉴 선택 >>'))
    if select != 1 and select != 2 and select != 3:
        
        print('잘못된 메뉴')
    else:
        if select == 1:
            coin -= 600
            if coin >= 1000:
                chun += coin // 1000
                coin -= 1000 * chun
            if coin >= 500:
                obaek += coin // 500
                coin -= 500 * obaek
            if coin >= 100:
                baek += coin // 500
                coin -= 500 * baek

        if select == 2:
            coin -= 800
            if coin >= 1000:
                chun += coin // 1000
                coin -= 1000 * chun
            if coin >= 500:
                obaek += coin // 500
                coin -= 500 * obaek
            if coin >= 100:
                baek += coin // 500
                coin -= 500 * baek

        if select == 3:
            coin -= 1000
            if coin >= 1000:
                chun += coin // 1000
                coin -= 1000 * chun
            if coin >= 500:
                obaek += coin // 500
                coin -= 500 * obaek
            if coin >= 100:
                baek += coin // 500
                coin -= 500 * baek        

print(f'잔돈 >> 1000원 {chun}개, 500원 {obaek}개, 100원 {baek}개')

=======================================
=============----자판기----=============
=======================================
==1.콜라==2.사이다==3.물=======insert===
==============================------===
== 600 == 800 == 1000 ======= 000원 ===
==============================------===
=======================================
==+++++++++++++++++++++++++++++++++++==
==+++++++++++++++++++++++++++++++++++==
==+++++++++++++++++++++++++++++++++++==
==+++++++++++++         +++++++++++++==
==+++++++++++++  SMHRD  +++++++++++++==
==+++++++++++++         +++++++++++++==
==+++++++++++++++++++++++++++++++++++==
==+++++++++++++++++++++++++++++++++++==
=======================================
=======================================
  ===                            ===
  ===                            ===


insert coin >>5000
메뉴 선택 >>3
잔돈 >> 1000원 4개, 500원 0개, 100원 0개

In [238]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
interest

('삼성전자', 'LG전자', 'SK Hynix')

In [239]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [241]:
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)