In [1]:
hi = '안녕하세요'
for s in hi :
    print(s)

안
녕
하
세
요

In [2]:
tuple_food = ('햄버거', '치킨', '피자')
for food  in tuple_food:
    print(food)

햄버거
치킨
피자

In [4]:
score_list = [90, 45, 70, 60, 55]
cut = 60
for i in range(len(score_list)):
    if score_list[i] >= cut:
        print(f'{i + 1}번 학생은 합격입니다.')
    else:
        print(f'{i + 1}번 학생은 불합격입니다.')

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.
5번 학생은 불합격입니다.

In [7]:
python_score = [57, 86, 63, 92, 35, 79]
for i in range(len(python_score)):
    if python_score[i] >= 80:
        print(f'{i + 1}번은 {python_score[i]}점 이며, A등급 입니다.')
    elif python_score[i] >= 60:
        print(f'{i + 1}번은 {python_score[i]}점 이며, B등급 입니다.')
    else:
        print(f'{i + 1}번은 {python_score[i]}점 이며, C등급 입니다.')

1번은 57점 이며, C등급 입니다.
2번은 86점 이며, A등급 입니다.
3번은 63점 이며, B등급 입니다.
4번은 92점 이며, A등급 입니다.
5번은 35점 이며, C등급 입니다.
6번은 79점 이며, B등급 입니다.

In [8]:
for i in range(1, 10, 1):
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
for i in range(1, 10, 1):
    print(i, end =' ')

1 2 3 4 5 6 7 8 9

In [10]:
for i in range(1, 10, 1):
    print(i)

1
2
3
4
5
6
7
8
9

In [11]:
for i in range(3 , 10):
    print(i, end = ' ')

3 4 5 6 7 8 9

In [12]:
for i in range(10):
    print(i, end =' ')

0 1 2 3 4 5 6 7 8 9

In [15]:
for i in range(97, 76, -1):
    print(i, end =' ')

97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77

In [14]:
for i in range(23, 40):
    print(i , end = ' ')

23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39

In [17]:
for i in range(2, 101, 2):
    print(i, end = ' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [18]:
for i in range(3, 101, 3):
    print(i, end= ' ')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [20]:
list1 = [[1, 2], [3, 4], [5, 6]]
for i, j in list1:

    print(i, j)

1 2
3 4
5 6

In [22]:
list2 = [4, 5, 2, 1, 99, 15, 2, 7, 27]
max_i = 0
for i in list2:
    if i > max_i:
        max_i = i
print(max_i)

99

In [23]:
min_i = 9876543210
for i in list2:
    if i < min_i:
        min_i = i
print(min_i)

1

In [25]:
total_3 = 0
for i in range(3, 101, 3):
    total_3 += i
print(total_3)

1683

In [28]:
for i in range(1, 10):
    print(f'2 * {i} = {2 * i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [48]:
num = int(input('정수 입력 >> '))
print(f'{num}의 약수 :', end =' ')
for i in range(1, num + 1):
    if num % i == 0:
        print(i, end = ' ')

정수 입력 >> 32
32의 약수 : 1 2 4 8 16 32

In [49]:
for i in range(1, 7):
    print('*' * i)

*
**
***
****
*****
******

In [50]:
n = int(input('줄 수 입력 >> '))
for i in range(1, n + 1):
    print('*' * i)

줄 수 입력 >> 7
*
**
***
****
*****
******
*******

In [52]:
for i in range(1, 7):
    print('*' * i)
for j in range(5, 0, -1):
    print('*' * j)

*
**
***
****
*****
******
*****
****
***
**
*

In [53]:
for i in range(1,12):
    if i < 6:
        print('*' * i)
    else:
        print('*' * (12 - i))

*
**
***
****
*****
******
*****
****
***
**
*

In [56]:
start = int(input('첫 번째 정수 입력 >> '))
end = int(input('두 번째 정수 입력 >> '))

for i in range(start, end + 1):
    print(i, end= ' ')

첫 번째 정수 입력 >> 10
두 번째 정수 입력 >> 30
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [66]:
n1 = int(input('첫 번째 정수 입력 >> '))
n2 = int(input('두 번째 정수 입력 >> '))
baebae = int(input('배수 입력 >> '))
total = 0
for i in range(n1, n2 + 1):
    if i % baebae == 0:
        total += i
print(f'{baebae}의 배수의 합 : {total}')

첫 번째 정수 입력 >> 10
두 번째 정수 입력 >> 20
배수 입력 >> 2
2의 배수의 합 : 90

In [67]:
n1 = int(input('첫 번째 정수 입력 >> '))
n2 = int(input('두 번째 정수 입력 >> '))
baebae = int(input('배수 입력 >> '))
s = 0
total = 0
for i in range(1, n1):
    if i * baebae >= n1:
        s = i
        break
for i in range(s, n2 + 1, 3):
    total += i
print(f'{baebae}의 배수의 합 : {total}')

첫 번째 정수 입력 >> 1
두 번째 정수 입력 >> 10
배수 입력 >> 3
3의 배수의 합 : 18

In [71]:
name = input('이름을 입력 : ')
id = input('주민번호 입력(7자리)')
if id[-1] == '1' or id[-1] == '3':
    print(f'{name}님은 {id[:2]}년 {id[2:4]}월 {id[4:6]}일에 태어났고, 성별은 남자입니다')
else:
    print(f'{name}님은 {id[:2]}년 {id[2:4]}월 {id[4:6]}일에 태어났고, 성별은 여자입니다')

이름을 입력 : 성우
주민번호 입력(7자리)9602081
성우님은 96년 02월 08일에 태어났고, 성별은 남자입니다

In [73]:
name = input('이름을 입력 : ')
id = input('주민번호 입력(7자리)')
year = id[:2]
month = id[2:4]
day = id[4:6]
sex = id[-1]
if sex == '1' or sex == '3':
    sex = '남자'
else:
    sex = '여자'
print(f'{name}님은 {year}년 {month}월 {day}일에 태어났고, 성별은 {sex}입니다')

이름을 입력 : 성우
주민번호 입력(7자리)9602081
성우님은 96년 02월 08일에 태어났고, 성별은 남자입니다

In [76]:
s = ".nohtyp deen uoY ,trohs oot si efiL"
for i in range(-1, -len(s) - 1, -1):
    print(s[i], end ='')

Life is too short, You need python.

In [78]:
s = ".nohtyp deen uoY ,trohs oot si efiL"
stack = []
for i in s:
    stack.append(i)
for i in range(1, len(s) + 1):
    print(s[-i],end='')

Life is too short, You need python.

In [89]:
for i in range(2, 10):
    for j in range(1, 10):
        print(f'{i}*{j}={i*j}',end='\t')
    print()

2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [90]:
cnt = 2
while True:
    for i in range(1, 10):
        print(f'{cnt}*{i}={i*cnt}',end='\t')
    print()
    cnt += 1
    if cnt > 9:
        break

2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [94]:
for i in range(1, 10):
    for j in range(2, 10):
        print(f'{j}*{i}={i*j}',end='\t')
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [96]:
cnt = 1
while True:
    for i in range(2, 10):
        print(f'{i}*{cnt}={i*cnt}',end='\t')
    print()
    cnt += 1
    if cnt > 9:
        break

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [98]:
list1 = [1, 30, 7, 9, 17, 3, 5, 23, 44, 32, 35]
even = 0
odd = 0
for i in range(len(list1)):
    if list1[i] % 2 == 0:
        even += 1
    else:
        odd += 1
print(f'짝수 {even}개, 홀수 {odd}개')

짝수 3개, 홀수 8개

In [102]:
list1 = [1, 30, 7, 9, 17, 3, 5, 23, 44, 32, 35]
even = 0
for i in range(len(list1)):
    if list1[i] % 2 == 0:
        even += 1
print(f'짝수 {even}개, 홀수 {len(list1 ) - even}개')

짝수 3개, 홀수 8개

In [106]:
s = input()
total = 0
cnt = 0
for i in s:
    if i == 'o':
        cnt += 1
        total += cnt
    else:
        cnt = 0
        
print(f'{total}점')

3점

In [108]:
fruit = ["사과", "포도", "홍시"]
favorite = input('좋아하는 과일은?')
if favorite in fruit:
    print('정답입니다.')
else:
    print('오답입니다.')

좋아하는 과일은?오렌지
오답입니다.

In [110]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
invest = input()
if invest in warn_investment_list:
    print('투자 경고 종목입니다.')
else:
    print('투자 경고 종목이 아닙니다.')

SAMSUNG
투자 경고 종목입니다.