# 첫번째
- 첫번째
  - 두번째
## 두번째
### 세번째
#### 네번째

In [ ]:
code = 1 # 주석입니다.
code

In [ ]:
num = 3 
print(num)

In [ ]:
num1 = 13
print(num1)

In [ ]:
num2 = 25 
print(num2)
num2 = 77
print(num2)

In [ ]:
type(num2)

In [ ]:
num3 = 3.1425
num3

In [ ]:
num4 = 1.25
num4

In [ ]:
num4 = 3.12
num4

In [ ]:
type(num4)

In [ ]:
str1 = 'Funny Python'
str1

In [ ]:
str2 = 'Easy Python'
str2

In [ ]:
type(str2)

In [ ]:
number = 30
Number = 20
print("number : ", number)
print("Number : ", Number)

In [ ]:
number_Number = 10
number_Number

In [ ]:
print("나 오늘", "너무", "씐나", sep='^^')

In [ ]:
1a = 10

In [ ]:
if = 30
if

In [ ]:
sum([1, 2])

In [ ]:
sum = 10
sum

In [ ]:
sum([1,2])

In [ ]:
False
None

In [1]:
# 파이썬 예약어 확인
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [2]:
str1 = str2 = "python"
str1
str2

'python'

In [5]:
x = 100
y = 200
s = sum([x, y])
print(s)

300

In [8]:
s = "she's gone"
print(s)

she's gone

In [10]:
s1 = "she\'s gone"
print(s1)

she's gone

In [11]:
s2 = "여러 줄로 구성된 \n문자열을 하나로 대입할 때"
print(s2)

여러 줄로 구성된
문자열을 하나로 대입할 때

In [12]:
s3 = ''' 여러줄로 구성된
문자열을 하나로 대입할 때
'''
print(s3)

 여러줄로 구성된
문자열을 하나로 대입할 때

In [15]:
s = "오늘은 즐거운 파이썬 \t 수업 시간입니다."
print(s)

오늘은 즐거운 파이썬 	 수업 시간입니다.

In [32]:
s = "my name is SW"
print(s[0])
print(s[8])
print(s[-2])
print(s[-1])
print(s[0:2])
print(s[3:7])
print(s[8:10])

print(s[0:7])

print(s[:7])

for i in range(7):
    print(s[i], end='')
    

    
print(s[8:])
print(s[-5:])

print(s)
print(s[:])
print(s[:13])
print(s[-13:])

m
i
S
W
my
name
is
is SW
is SW
my name is SW
my name is SW
my name is SW
my name is SW

In [37]:
S = "2020년 3월 3일의 날씨는 맑음입니다."
print("날짜 : ", S[:11])
print("날씨 : ", S[-6:-4])

날짜 :  2020년 3월 3일
날씨 :  맑음

In [39]:
day = 7
s = "오늘은 7월 %d일 입니다."%day
s

'오늘은 7월 7일 입니다.'

In [42]:
day = 8
s = "오늘은 7월 %d일입니다."%day
s

'오늘은 7월 8일입니다.'

In [43]:
month = 7
day = 7
s = "오늘은 %d월 %d일 입니다."%(month, day)
s

'오늘은 7월 7일 입니다'

In [47]:
month = 7
day = 7
s = "오늘은 {}월 {}일 입니다.".format(month, day)
s

'오늘은 7월 7일 입니다.'

In [48]:
month = 7
day = 7
s = f"오늘은 {month}월 {day}일 입니다."
s

'오늘은 7월 7일 입니다.'

In [53]:
x = 100
y = 200
sum2 = x + y
print(f'{x}과 {y}의 합은 {sum2}입니다.')

100과 200의 합은 300입니다.

In [54]:
# 카운트 함수
s = "오늘은 파이썬 수업날입니다. 파이썬 너무 재미있네요"
s.count("파이썬")

2

In [ ]:
# find 함수
# 문자열 내의 특정 문자의 위치를 알려주는 함수

s.find('파')

In [57]:
# '구분자'.join 함수

' '.join(["오늘", "점심 메뉴", "추천좀!"])

'오늘 점심 메뉴 추천좀!'

In [58]:
s = "Where is my wallet"
s.upper()

'WHERE IS MY WALLET'

In [60]:
s.lower()

'where is my wallet'

In [62]:
# strip 함수
# 양쪽 공백 지우기 함수
s = "              Where is my wallet           "
s.strip()

'Where is my wallet'

In [64]:
s = "Where is my wallet"
s.replace('wallet', 'Happy')

'Where is my Happy'

In [65]:
# split함수
s = '옆에 공사현장이 참, 시끄럽네요ㅠ'
s.split(',')

['옆에 공사현장이 참', ' 시끄럽네요ㅠ']

In [72]:
num = int(input("정수를 입력하세요>>"))
num

정수를 입력하세요>>12

12

In [77]:
num1 = int(input())
num2 = int(input())
plus = num1 + num2
minus = num1 - num2
multi = num1 * num2
divide = num1 / num2
print('정수를 입력하세요>>', num1)
print('정수를 입력하세요>>', num2)
print('더하기 결과 :', plus)
print('빼기 결과 :', minus)
print('곱하기 결과 :', multi)
print('나누기 결과 :', divide)

3
7
정수를 입력하세요>> 3
정수를 입력하세요>> 7
더하기 결과 : 10
빼기 결과 : -4
곱하기 결과 : 21
나누기 결과 : 0.42857142857142855

In [80]:
num1 = int(input())
num2 = int(input())
num3 = int(input())
plus = num1 + num2 + num3
minus = num1 - num2
multi = num1 * num2
average = plus / 3

print('python 점수 입력 >>', num1)
print('머신러닝 점수 입력 >>', num2)
print('딥러닝 점수 입력', num3)
print(f'합계 : {plus}')
print(f'평균 : {average}')

100
80
60
python 점수 입력 >> 100
머신러닝 점수 입력 >> 80
딥러닝 점수 입력 60
합계 : plus
평균 : 80.0

In [87]:
time = int(input("시간 입력 >>"))
hour = time // 3600
minute = time // 60 - hour * 60
second = time % 60
print(f"{hour}시간 {minute}분 {second}초")

시간 입력 >>7533
2시간 5분 33초

In [88]:
time = int(input("시간 입력 >>"))
hour = time // 3600
minute = (time % 3600) //60
second = time % 60
print(f"{hour}시간 {minute}분 {second}초")

시간 입력 >>7533
2시간 5분 33초

In [89]:
s = "x"
print(s*10)

xxxxxxxxxx

In [90]:
s = "안녕하세요"
print(s * 2)

안녕하세요안녕하세요

In [98]:
print('********연산하기********')
num1 = int(input('정수입력 >> '))
num2 = int(input('정수입력 >> '))
cal = input('+연산자 입력 >> ')
print(f'{num1} {cal} {num2} = {num1 + num2}')

********연산하기********
정수입력 >> 10
정수입력 >> 20
+연산자 입력 >> +
10 + 20 = 30

In [99]:
num = int(input("정수 입력 >>"))
power = int(input("지수 입력 >>"))
print("{}의 {}승은 {}입니다.".format(num, power, num ** power))

정수 입력 >>2
지수 입력 >>3
2의 3승은 8입니다.

In [100]:
print("오늘은", "일요일")

오늘은 일요일

In [101]:
print("Hello World")

Hello World

In [103]:
print("Mary's cosmetics" )

Mary's cosmetics

In [104]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [105]:
print("C:\Windows")

C:\Windows

In [106]:
print("안녕하세요.\n만나서\t\t반갑습니다. ")

안녕하세요.
만나서		반갑습니다.

In [107]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [109]:
print("first", end=' ')
print('second')

first second

In [110]:
print(5/3)

1.6666666666666667

In [111]:
letters = 'python'
print(letters[0], letters[2])

p t

In [112]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [113]:
string = "홀짝홀짝홀짝"
for i in range(0, len(string), 2):
    print(string[i], end = '')

홀홀홀

In [127]:
string = "PYTHON"
ans = []
for i in range(-1, -len(string) - 1, -1):
    ans.append(string[i])
for j in range(len(string)):
    print(ans[j], end='')

NOHTYP

In [129]:
samsung = 50000
total = samsung * 10
print(total)

500000

In [130]:
total = 298000000000000
present = 50000
per = 15.79

In [132]:
s = "hello"
t = "python"
print(f'{s}! {t}')

hello! python

In [133]:
print( 2 + 2 * 3)

8

In [134]:
a = 128
print(type(a))

<class 'int'>

In [136]:
a = '132'
print(type(a))

<class 'str'>

In [137]:
num_str = '720'
num_str = int(num_str)

In [138]:
num = 100
num = str(num)

In [141]:
str1 = "15.79"
str1 = float(str1)
print(type(str1))

<class 'float'>

In [143]:
total_cost = 48584 * 69
print(total_cost)

3352296

In [147]:
phone_number = "010-1111-2222"
pn = phone_number.split('-')
print(*pn)

010 1111 2222

In [150]:
for i in pn:
    print(i, end='')

01011112222

In [155]:
url = "http://sharebook.kr"
Wls_url = url.split('.')
print(url[-2:])
print(Wls_url[-1])

kr
kr

In [156]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [157]:
string = 'abcdfe2a354a32a'
string.replace('a', 'A')

'Abcdfe2A354A32A'

In [158]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [159]:
a = "3"
b = "4"
print(a + b)

34

In [160]:
print("Hi" * 3)

HiHiHi

In [161]:
print('-' * 80)

--------------------------------------------------------------------------------

In [170]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [174]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print('이름: %s 나이: %d'% (name1, age1))
print('이름: %s 나이: %d'% (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [176]:
print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [178]:
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [195]:
stock = "5,969,782,550"
stock = stock.replace(',', '')
stock = int(stock)
print(stock)

5969782550

In [196]:
quarter = "2020/03(E) (IFRS연결)"
print(quarter[:7])

2020/03

In [198]:
data = "   삼성전자    "
data = data.strip()
print(data)

삼성전자

In [200]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [202]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [205]:
h = 'hello'
h.replace('h', 'H')
h.capitalize()

'Hello'

In [211]:
file_name = "보고서.xlsx"
file_name.endswith('xlsx' or 'xls', -4)

True

In [214]:
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [217]:
a = "hello world"
a = a.split()
print(*a)

hello world

In [218]:
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [220]:
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [221]:
data = "039490     "
data.rstrip()

'039490'

In [222]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

In [224]:
movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨', '배트맨']

In [228]:
movie_rank.insert(1, '슈퍼맨')

In [229]:
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '럭키', '스플릿', '럭키', '배트맨', '배트맨']

In [233]:
movie_rank.remove('스플릿')

In [234]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2

In [235]:
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [237]:
nums = [1, 2, 3, 4, 5, 6, 7]
print('max: ', max(nums))
print('min: ', min(nums))

max:  7
min:  1

In [238]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [239]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [241]:
nums = [1, 2, 3, 4, 5]
s = sum(nums)
l = len(nums)
print(s / l)

3.0

In [242]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [243]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [244]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [245]:
nums = [1, 2, 3, 4, 5]
nums[-1::-1]

[5, 4, 3, 2, 1]

In [246]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [247]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(*interest)

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [249]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [250]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [254]:
string = "삼성전자/LG전자/Naver"
string = string.split('/')
string = list(string)
print(string)

['삼성전자', 'LG전자', 'Naver']

In [256]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()

In [257]:
my_variable = ()

In [258]:
my_variable = ('닥터 스트레인지', '스플릿', '럭키')
print(my_variable)

('닥터 스트레인지', '스플릿', '럭키')

In [263]:
num = (int(1),)
print(num, type(num))

(1,) <class 'tuple'>

In [264]:
# 튜플은 인덱스가 없다(순서가 없다)

In [265]:
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [267]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*variable, _, _ = scores
print(variable)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]